# 依赖
node_modules/
build/

# 环境变量
.env
.env.local
.env.*.local

# 日志
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器目录和文件
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
venv/
# 系统文件
.DS_Store
Thumbs.db

server/venv/

server/node_modules/

client/node_modules/

client/dist/

instruct.md

test.ipynb

documents/

faiss_index/

ipynb/

ipynb/test.py

__pycache__

test-*

.cursorrules

browser-use
.aider*
logs*
apikey_manage*